<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>

                        <div class="col-sm-6 col-md-4 pizza-card">
                                    <% if(pizza.is_new) { %>
                                    <div class="newPizzaLable  label label-danger">Нова</div>
                                    <% } else if(pizza.is_popular) {%>
                                    <div class="label label-success">Популярна</div>
                                    <% } %>

                            <div class="thumbnail ">
                                 <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">
                                
                                
                                <div class="caption">
                                    
                                    <h3 class="prodName"><%= pizza.title %></h3>
                                    <div class="pizzaType"><%= pizza.type %></div>
                                    <div class="ingridients"><%= getIngredientsArray(pizza).join(", ") %></div>
                                    
                                    <div class="leftClmn">
                                        <div class="size"> 
                                            <img src="assets/images/size-icon.svg"/>
                                            30
                                        </div>
                                        <div class="weight">
                                            <img src="assets/images/weight.svg"/>
                                            370
                                        </div>
                                        <div class="price">
                                            <h3 class="nums">99<br>
                                                грн.
                                            </h3>
                                        </div>
                                        <a href="#" class="btn btn-primary">Купити</a>
                                    </div>
                                    <div class="rightClmn">
                                        <div class="size"> 
                                            <img src="assets/images/size-icon.svg"/>
                                            40
                                        </div>
                                        <div class="weight">
                                            <img src="assets/images/weight.svg"/>
                                            660
                                        </div>
                                        <div class="price">
                                            <h3 class="nums">169<br>
                                                грн.
                                            </h3>
                                        </div>
                                        <a href="#" class="btn btn-primary">Купити</a>
                                    </div>

                                </div>
                            </div>
                        </div>

       



        <div class="caption">
            <span class="title"></span>
            <div class="type"></div>
            <div class="description">
                
            </div>
        </div>

        <!-- Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір -->
        <button class="btn btn-primary buy-big">Купити велику</button>
    </div>
</div>